

body {
  margin: 0px;
  text-align:center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin-top: 50px auto 0 auto;
  width: 10%;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

hr {
  border: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  color: #EAF6F6;
}


h2 {
  font-family: 'Monsterrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Monsterrat', sans-serif;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}

#line-height-title {
  line-height: 2;
}

#programmer-fontweight {
  font-weight: normal;
}


.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #E4F9F5;

}

p {
  color: #40514E;
}



.skills-image {
    border-radius: 100%;
    height: 25%;
    width: 25%;
    float: left;
    padding-right: 30px;
}

.drum-image {
  border-radius: 100%;
  height: 25%;
  width: 25%;
  float: right;
  padding-left: 30px;
}

.section-picture {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  margin-top: 50px;
}

.middle-container {
  margin: 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  height: 150px;
  width: 100%;
  padding-top: 40px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.BUTTON_ISO {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 16px;
   font-weight: 100;
   padding: 14px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px auto 80px auto;
}

.BUTTON_ISO:hover {
   border: solid #66BFBF 1px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   text-decoration: none;
}

.copyright-text {
  color: #EAF6F6;
  margin-top: 40px;
}

.footer-link {
  font-family: 'Monsterrat', sans-serif;
  text-decoration: none;
  padding: 30px;
  margin-bottom: 60px;
}


.footer-link:hover {
  color: #EAF6F6;
}
